* {
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-color: rgb(192, 170, 170);
  --bg-color-element: rgba(0, 0, 0, 0.5);
  --text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.5);
  --border-color-light: rgba(255, 255, 255, 0.8);
  --text-color: rgb(255, 255, 255);
}

/* Aligner le titre avec la f1 */

body {
  background-image: url("../assets/images/circuit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Racing Sans One", sans-serif;
  font-weight: 300;
}

aside {
  display: block;
  background-color: var(--bg-color-element);
  width: 250px;
  height: auto;
  position: relative;
  top: 100px;
  left: 20px;
  border-radius: 20px 0 0 20px;
  border-top: 10px solid var(--border-color-light);
  border-bottom: 10px solid var(--border-color-light);
  border-left: 10px solid var(--border-color-light);
}
.ranking {
  margin: 2px 0px 2px 2px;
  background-color: var(--bg-color-element);
  padding: 2px;
  border-radius: 10px 0 0 10px;
}
.ranking-row {
  display: grid;
  grid-template-columns: 30px 30px 75px auto;
  height: 25px;
  width: 100%;
  font-weight: 500;
}
.ranking-row div {
  text-align: center;
  align-content: center;
}
.ranking-row > div:first-child {
  background-color: var(--bg-color-element);
}
.ranking > div:first-child > div:first-child {
  border-radius: 10px 0 0 0;
}
.ranking > div:last-child > div:first-child {
  border-radius: 0 0 0 10px;
}
.team-logo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-f1-race-type {
  display: flex;
  align-items: end;
}
.logo-f1-race-type img {
  width: 150px;
  height: auto;
}
.ranking > div:nth-child(2) {
  text-align: center;
  font-size: x-large;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );
}
.ranking-display {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 25px;
  width: 100%;
  font-weight: 500;
}
